 @import url(https://fonts.googleapis.com/css?family=Pacifico);
 @import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; }

nav {
	background-color: #E0E3E2;
	font-size: 1.8em;
	float:left;
	
}

nav a {
	margin: 1.8em;
	display: inline-block;
}

body {
	background-color: #fff;
	font-family: 'Lora', serif;
	font-size:18px;
}

header {
	background-color:#FFED74;
	border: 1px black solid;
	padding:20px;
}

h1 {
	font-family: 'Pacifico', cursive;
	color:#7F0000;
}
ul {
	padding-left:1.25em;
}
img {
	float:left;
	padding-right:1.5em;
}
p {
	margin-top:1em;
	margin-bottom:1em;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
}

section {
	background-color:#FFE2B8;
	border: 1px black solid;
}

.slogan {
	color: #5C0000;
	font-size:1.5em;
	font-style:italic;
    font-weight: bold;
	padding-bottom:.5em;
}

/*#wrapper {
	background-color:white;
	width: 960px;
	margin: 0 auto;
}*/

#current-book-of-month {
	line-height: 1.5em;
    padding: 1em 1.5em;
    background: #fff;
    width:50%;
    /*height: 23em;*/
    float:left;
    border-right: 3px solid #7F0000; 
}

#previous-book-of-month {
	line-height: 1.5em;
    padding: 1em 1.5em;
    background: #fff;
    width:50%;
    /*height: 23em;*/
    float:left;
    

}

#current-reads {
	background-color: #E0E3E2;
	line-height: 1.5em;
    padding: 1em 1.5em;
    clear:both;
       
}

footer {
	margin: 2em;
	background-color: #FF957E;
	border: 1px black solid;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
